    .header {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}

#logo {
    float: left;
    width: 150px;
    height: 45px;
    margin-left: 50px;
}

#hamburger {
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
}

#dimmer{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

#reichstag{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#button {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: -60%;
    text-align: center;
}

#welcome {
    color: #ffffff;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
}

#started {
    position: absolute;
    /*transform: translate(-50%, 0);*/
    background-color: #FFCC33;
    border-radius: 30px;
    border: 3px solid #cc6600;
    font-family: cassia;
    color: #BA6006;
    font-size: 30px;
    font-weight: 600;
    width: 20%;
    height: 60%;
    top: 50%;
    left: 40%;
    margin-top: 20px;
}

#grey {
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #CCCCCC;
}

#footer {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #aaaaaa;
}

#copyright {

}
