.header {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}

#logo {
    float: left;
    width: 150px;
    height: 45px;
    margin-left: 15px;
}

#hamburger {
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#container{
    position: relative;
    width: 100%;
    height: 435px;
}

#dimmer {
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}

#reichstag {
    width:100%;
    display: inline-block;
}
