#container {
    width: 100%;
    height: 100%;
    min-height: 598px;
    min-width: 500px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logo {
    float: left;
    width: 150px;
    height: 45px;
    margin-left: 50px;
}

#hamburger {
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

#im{
    position: relative;
    width: 100%;
    height: 70%;
    min-height: px;
    min-width: 376px;
}

#reichstag {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    min-height: 225px;
    min-width: 376px;
}

#dimmer {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 225px;
    min-width: 376px;
}

#overlay{
    height: 50%;
    position: absolute;
    width: 100%;
    top: 45%;
}


#text{
    position: relative;
    width: 100%;
    color: #ffffff;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    z-index: 5;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: bottom;
}



#button {

    height: 40px;
    width: 200px;
    min-width: 100px;
    position: relative;
    left: 50%;
    background-color: #FFCC33;
    border-radius: 30px;
    border: 3px solid #cc6600;
    transform: translate(-50%, 0);
    font-size: 25px;
    color: #BA6006;
}

#grey {
    background-color: #CCCCCC;
    position: relative;
    text-align: center;
}

.footer {
    height: 80px;
    width: 100%;
}

#gbar {
    height: 40px;
    background-color: #CCCCCC;
    margin-top: -1px;
}

#cbar {
    height: 40px;
    background-color: #666666;
    margin-top: -1px;
}

#cbar p {
    position: absolute;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}
.infobox {
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 25px;
    width: 500px;
    font-size: 25px;
    position: relative;

}

.textbox {
    display: inline-block;
    width: 310px;
    height: 100%;
    margin-left: 95px;
    text-align: left;
}

.icon {
    width: 80px;
    top: 26px;
    height: 80px;
    display: inline-block;
    position: absolute;
}

.infobox p {
    display: inline-block;
    vertical-align: text-bottom;
}

* {
}
